/* ingrid-darling-regular - latin */
@font-face {
  font-family: 'Ingrid Darling';
  src: url('https://github.com/marquetce/TMvisDB/tree/main/ingrid-darling-v2-latin/ingrid-darling-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('https://github.com/marquetce/TMvisDB/tree/main/ingrid-darling-v2-latin/ingrid-darling-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://github.com/marquetce/TMvisDB/tree/main/ingrid-darling-v2-latin/ingrid-darling-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://github.com/marquetce/TMvisDB/tree/main/ingrid-darling-v2-latin/ingrid-darling-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('https://github.com/marquetce/TMvisDB/tree/main/ingrid-darling-v2-latin/ingrid-darling-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://github.com/marquetce/TMvisDB/tree/main/ingrid-darling-v2-latin/ingrid-darling-v2-latin-regular.svg#IngridDarling') format('svg'); /* Legacy iOS */
}

html, body [class*="css"]  {
font-family: 'Stick';
}

html, body [class*="st"]  {
font-family: 'Stick';
}


html, body [class*="ag"]  {
font-family: 'Stick';
}